:root{
  --bg: #000;
  --card-bg: rgb(20, 20, 20);
  --text-color: #fff;
  --text-color-lighter: #ccc;
  --link-color: #0096cf;
  --profile-width: 400px;
  --border-color: #4e4e4e;
  --hover-border-color: rgb(156, 156, 156);
  --nav-link-color: rgb(102, 102, 102);
  --nav-link-active-color: #fff;
  --nav-link-hover-color: #ccc;
  --button-border-color: #4e4e4e;
  --button-hover-border-color: rgb(156, 156, 156);
  --code-language-color: rgb(94, 92, 92);
  --profile-link-color: #fff;
  --profile-link-hover-color: #ccc;
  --blockquote-bg: var(--card-bg);
  --blockquote-border-color: var(--border-color);
  --blockquote-color: #c1c2c5;
}

.main {
  background: var(--bg);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: var(--text-color);
}

.subtitle {
  color: var(--text-color);
  margin-top: -10px;
}

.subtitle-link {
  color: var(--text-color);
}

.social-link {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.social-link-icon {
  margin-right: 7px;
  stroke-width: 1px;
}