:root{
  --bg: #000;
  --text-color: #fff;
  --text-color-lighter: #ccc;
}

.main {
  background: var(--bg);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: var(--text-color);
  margin-top: 20px;
}

.subtitle {
  color: var(--text-color);
  margin-top: -10px;
}

.subtitle-link {
  color: var(--text-color);
}

.subtitle-link:hover {
  color: var(--text-color-lighter);
}

.subtitle-link:active {
  color: var(--text-color);
}

.social-link {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.social-link:hover {
  color: var(--text-color-lighter);
}

.social-link:active {
  color: var(--text-color);
}

.social-link-icon {
  margin-right: 7px;
  stroke-width: 1px;
}